body{
    margin: 0px;
    padding: 0px;
    background-color:#FAFAFA;
    width: 100%;

}

.container{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    z-index: 0;
    height: 20%;
}
#header1 img{
    position: relative;
    justify-content: space-between;
    float: left;
}
#header1 a{
    text-decoration: none;
    color: #FDFBFB;
    font-weight: 900;
    font-size: 1em;
}
#header1{
    position:absolute;
    height: 8%;
    background-color:white;
    display: flex;
    flex-direction:column;
    flex-wrap:nowrap;
    flex-flow: column;
    padding: 0px;
    margin-top: 50px;
    width:100%;
    text-align: center;
    align-items: center;
}
#header1 img{
    width:90%;
    height: 2%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
#header1 img:hover{
    vertical-align: middle;
    border-style: none;
    width: 110%;
    height: auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all  0.3s;
    transition:all 0.3s;
}
#header1 li{
    line-height: 1.17;
    padding: 2px;
    border-top: 0;
    word-spacing:60px;
}

#header1 ul{
    position:relative;
    height: 90px;
    display: flex;
    vertical-align:middle;
    width: auto;
    padding: 0px;
    margin: 0px;
    transform: none;
    overflow: hidden;
    line-height: normal;
    list-style-type: none;
    text-align: center;
    align-items: center;
    font-size: 22px;
}
#item2{
    position: relative;
}
.container3{
    display: flex;
    justify-content:center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 20%;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 3;
}

#item4{
    position: relative;
}
#menu{
    position: absolute;
    height:15%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: column;
    flex-direction: column;
    padding: 0px;
    margin-top: 18%;
    text-align: center;
    background-color: #641677;
    align-items: center;
}
#premios1{
    position: absolute;
    height: 60%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: column;
    flex-direction: column;
    margin-top: 51%;
    text-align: center;
    background-color:  #641677;
    align-items:center;
}
#premios1 ul{
    position:relative;
    height: 100%;
    display: flex;
    vertical-align: middle;
    width: auto;
    padding: 0;
    margin: 0;
    transform: none;
    overflow: hidden;
    line-height: normal;
    list-style-type: none;
    align-items: center;
}
#premios1 li{
    line-height: 1.17;
    padding: 10px;
    border-top: 0;
}
#premios1 a{
    text-decoration: none;
    color: #FDFBFB;
    font-weight: 900;
    font-size: 1em;   
}
#premios1 img{
    width: 522px;
    height: 332px;
}
#premios1 img:hover{
    vertical-align: middle;
    border-style: none;
    transform: scale(0.80);
    height: auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all  0.3s;
    transition:all 0.3s;
}
#premios2 img{
    width: 522px;
    height: 332px;
}
#premios2 img:hover{
    vertical-align: middle;
    border-style: none;
    transform: scale(0.80);
    height: auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all  0.3s;
    transition:all 0.3s;
}
#premios2{
    position: absolute;
    height: 60%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: column;
    flex-direction: column;
    margin-top: 105%;
    text-align: center;
    background-color:  #641677;
    align-items:center;
}
#premios2 ul{
    position:relative;
    height: 100%;
    display: flex;
    vertical-align: middle;
    width: auto;
    padding: 0;
    margin: 0;
    transform: none;
    overflow: hidden;
    line-height: normal;
    list-style-type: none;
    align-items: center;
}
#premios2 li{
    line-height: 1.17;
    padding: 10px;
    border-top: 0;
}
#premios2 a{
    text-decoration: none;
    color: #FDFBFB;
    font-weight: 900;
    font-size: 1em;   
}

#menu ul {
    position:relative;
    height: 90px;
    display: flex;
    vertical-align:middle;
    width: auto;
    padding: 0px;
    margin: 0px;
    transform: none;
    overflow: hidden;
    line-height: normal;
    list-style-type: none;
    text-align: center;
    align-items: center;
    font-size: 22px;

}
#menu li{
    line-height: 1.17;
    padding: 80px;
    border-top: 0;
    margin: 23px;
    background-color: #451165;
}
#menu li:hover{
    transform: scale(0.70);
    height: auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all  0.3s;
    transition:all 0.3s;
}
#menu a{
    text-decoration: none;
    color: #FDFBFB;
    font-weight: 900;
    font-size: 1em;   
}
.container2{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 5%;
    flex-wrap: wrap;
    align-items: center;
    z-index: 2;
}

#header3{
    position:absolute;
    height: 5%;
    background-color:white;
    display: flex;
    flex-direction:column;
    flex-wrap:nowrap;
    flex-flow: column;
    padding: 0px;
    margin-top:137%;
    width:100%;
    text-align: center;
    align-items: center;
}
#header3 img{
    width: 100%;
    height: 100%;
}

h1 , h2 {
    padding-top: 1rem;
    color: #000000;
    text-shadow: 1px 1px 1px #E6E6E6;
}

#footer{
    text-align: center;
}
@media screen and (max-width: 768px){
    .container {
        display: flex;
        justify-content: space-around;
        margin: 0px;
        padding: 0px;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        z-index: 0;
        height: 0;
    }
    #header1 {
        position: absolute;
        height: 12%;
        background-color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex-flow: column;
        padding: 0px;
        margin-top: 4%;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    #header1 img{
        width: 100%;
        height: 100%;
    }
    .container3 {
        display: flex;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 0;
        flex-wrap: nowrap;
        align-items: center;
        z-index: 3;
    }
    #menu {
        position: absolute;
        height: 10%;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-flow: column;
        flex-direction: column;
        padding: 0px;
        margin-top: 23%;
        text-align: center;
        background-color: #641677;
        align-items: center;
    }
    #menu a {
        text-decoration: none;
        color: #FDFBFB;
        font-weight: 900;
        font-size: 1em;
    }
    #menu li {
        line-height: 1.17;
        padding: 35px;
        border-top: 0;
        margin: 16px;
        background-color: #451165;
    }
    #menu ul {
        position: relative;
        height: 30px;
        display: flex;
        vertical-align: middle;
        width: auto;
        padding: 0px;
        margin: 0px;
        transform: none;
        overflow: hidden;
        line-height: normal;
        list-style-type: none;
        text-align: center;
        align-items: center;
        font-size: 12px;
    }
    .container1 {
        display: flex;
        justify-content: space-around;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 0px;
        flex-wrap: wrap;
        align-items: center;
        z-index: 1;
    }
    #header2 {
        position: absolute;
        height: 82%;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-flow: column;
        flex-direction: column;
        padding: 0px;
        margin-top: 120%;
        text-align: center;
        align-items: center;
        background-color: #641677;
    }
    #header2 #imagemdefundo {
        width: 100%;
        height: 75%;
    }
    #header2 img {
        width: 75%;
        height: 28%;
    }
    .container2 {
        display: flex;
        justify-content: space-around;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 0px;
        flex-wrap: wrap;
        align-items: center;
        z-index: 2;
    
    }
    #header3 {
        position: absolute;
        height: 0%;
        background-color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex-flow: column;
        padding: 0px;
        margin-top: 213%;
        width: 100%;
        text-align: center;
        align-items: center;
    }
}
