body{
    margin: 0px;
    padding: 0px;
    background-color:#023E8A;
    width: 100%;

}
.container3{
    display: flex;
    justify-content:center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 20%;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 3;
}
.topnav img{
    width: 40%;
    height: 40%;
}
.topnav{
    background-color: #023E8A;
    overflow: hidden;
    display: none;
    height: 10%;
}

.topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 5% 5%;
    text-decoration: none;
    font-size: 22px;
}
.topnav a:hover{
    background-color: #ddd;
    color: black;
}
.topnav a.active{
    background-color: #1473d8;
    color: white;
}
.topnav .icon{
    display: none;
}

#menu{
    position: absolute;
    height:10%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: column;
    flex-direction: column;
    padding: 0px;
    margin-top: 4.8%;
    background-color: #023E8A;
    align-items: center;
}
#menu ul {
    position:relative;
    height: 31%;
    display: flex;
    vertical-align:middle;
    width: 100%;
    padding: 0px;
    margin: 0px;
    transform: none;
    overflow: hidden;
    line-height: normal;
    list-style-type: none;
    text-align: center;
    align-items: center;
    font-size: 22px;
    padding-inline-start: 0px;
}
#menu li{
    line-height: 1.17;
    padding: 80px;
    border-top: 0;
    margin: 23px;
    background-color: #03045E;
}
#menu li:hover{
    transform: scale(0.70);
    height: auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all  0.3s;
    transition:all 0.3s;
}
#menu a{
    text-decoration: none;
    color: #FDFBFB;
    font-weight: 900;
    font-size: 1em;   
}
#menu img{
    width: 70px;
    height: 70px;
}
#menu img:hover{
    transform: scale(0.70);
    height: auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all  0.3s;
    transition:all 0.3s;
}
.container1{
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 77.8%;
    height: 680px;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    margin-top: 4%;
    margin-left: 0%;
    background-image: url(../img/FundoEverton.jpg);
}
.container2{
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 22.2%;
    height: 0px;
    flex-wrap:nowrap;
    align-items: center;
    text-align: center;
    margin-left:77.8%;
    margin-top: -22%;
}

table, th ,td{
    border: 2px solid #03045E;
    background-color: #023E8A;
    color: #FAFAFA;
}
#TabelaJogadores{
    margin-top: 15%;
    width: 110%;
    height: 80%;
    margin-left: 10%;
    font-size: 13px;
    border-radius:1%
}
#TabelaValores{
    margin-top: -125%;
    margin-left:185%;
    width: 100%;
    height: 80%;
    font-size: 13px;
    border-radius:1%
}
#img2{
    display: none;
}
#Fundo img:hover{
    transform: scale(0.70);
    height: auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all  0.3s;
    transition:all 0.3s;
}
#Fundo1 img{
    width: 100%;
    height: 100%;
}

#Fundo img:hover{
    transform: scale(0.70);
    height: auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all  0.3s;
    transition:all 0.3s;
}

h1 , h2 {
    padding-top: 1rem;
    color: #000000;
    text-shadow: 1px 1px 1px #E6E6E6;
}

#footer{
    text-align: center;
}
@media screen and (max-width: 768px){
    .container {
        display: flex;
        justify-content: space-around;
        margin: 0px;
        padding: 0px;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        z-index: 0;
        height: 0;
        display: none;
    }
    #header1 {
        position: absolute;
        height: 12%;
        background-color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex-flow: column;
        padding: 0px;
        margin-top: 4%;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    #header1 img{
        width: 100%;
        height: 100%;
    }
    .topnav{
        display:block;
        z-index: 9;
    }
    .topnav a:not(:first-child){display: none;}
    .topnav a.icon{
        float:right;
        display: block;
    }
    .topnav.responsive{position:relative}
    .topnav.topnav.responsive .icon{
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .topnav.responsive a {
        float: none;
        display:block;
    }
    .container3 {
        display: flex;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 0;
        flex-wrap: nowrap;
        align-items: center;
        z-index: 3;
    }
    #menu {
        position: absolute;
        height: 16%;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-flow: column;
        flex-direction: column;
        padding: 0px;
        margin-top: 28%;
        text-align: center;
        background-color: #023E8A;
        align-items: center;
    }
    #menu h2{
        display: none;
    }
    #menu a {
        text-decoration: none;
        color: #FDFBFB;
        font-weight: 900;
        font-size: 1em;
    }
    #menu li {
        line-height: 1.17;
        padding: 22px;
        border-top: 0;
        margin: 9px;
        background-color: #03045E;
    }
    #menu ul {
        position: relative;
        height: 80px;
        display: flex;
        vertical-align: middle;
        width: auto;
        padding: 0px;
        margin: 0px;
        transform: none;
        overflow: hidden;
        line-height: normal;
        list-style-type: none;
        text-align: center;
        align-items: center;
        font-size: 15px;
    }
    #menu img{
        width: 100%;
        height: 100%;
    }
    .container1 {
        display: flex;
        margin: 0px;
        padding: 0px;
        width: 61.8%;
        height: 702px;
        flex-wrap: nowrap;
        align-items: center;
        text-align: center;
        margin-top: 28%;
        margin-left: 0%;
        background-color: #03045E;
        background-image: none;
    }
    .container2 {
        display: flex;
        margin: 0px;
        padding: 0px;
        width: 41.2%;
        height: 0%;
        flex-wrap: nowrap;
        align-items: center;
        text-align: center;
        margin-left: 61.8%;
        margin-top: -170%;
    }
    #Fundo img{
        width: 50%;
        margin-left: 0;
        margin-right: 0;
    }
    #Fundo1 img {
        width: 100%;
        height: 100%;
    }
    #img2{
        width: 100%;
        height: 100%;
        display: block;
    }
    #TabelaJogadores {
        margin-top: 0%;
        width: 100%;
        height: 0%;
        margin-left: 0%;
        font-size: 6px;
        border-radius: 1%;
    }
    #TabelaValores {
        margin-top: 0%;
        margin-left: 0%;
        width: 100%;
        height: 80%;
        font-size: 6px;
        border-radius: 1%;
    }
}